/spring-boot-v3/.gradle/
/spring-boot-v3/build/
/.idea/
/quarkus-flying-saucer-pdf-aws-sam/target/
/quarkus-flying-saucer-pdf-aws-sam/quarkus-flying-saucer-pdf.iml
/gcloud-functions-spring-boot-v3/target/
